# App
NODE_ENV=development
NEXT_PUBLIC_APP_NAME=Quercus

# PostgreSQL
POSTGRES_DB=quercus
POSTGRES_USER=quercus
POSTGRES_PASSWORD=quercus
POSTGRES_PORT=5432

# Prisma
DATABASE_URL="postgresql://quercus:quercus@localhost:5432/quercus?schema=public"
